// =============================================================================
// IBM Plex Sans - Variable Font
// =============================================================================

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 700;
  font-stretch: 75% 100%;
  font-style: italic;
  font-display: swap;
}

// =============================================================================
// Static fallbacks (if variable fonts not supported)
// =============================================================================

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBM_Plex_Sans/static/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM Plex Sans';
    src: url('./fonts/IBM_Plex_Sans/static/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}
